<%- include("header"); -%>

<div class = "box">
    <% for(let i = 0; i < addNewItems.length; i++) { %>
        <div class = "item">
            <input type="checkbox" name="" id="">
            <p><%= addNewItems[i] %></p>
        </div>
    <% } %>
   
    <form action = "/" method = "post">
        <input type="text" name = "newItem" placeholder="Next Item" autocomplete="off">
        <button type="submit" name = "add" value = "work">+</button>
    </form>
</div>

<%- include("footer"); -%>